= label_tag name_from, t("advertisement.attributes.#{name_from}"), class:'col-sm-3 control-label'
.controls
  .col-sm-6
    = text_area_tag("advertisement[#{name_from}]", value_from, class: 'form-control', placeholder: 'текст', rows: 6)