<div class="fileupload_context">

    <span class="btn btn-success fileinput-button">
          <i class="i fa fa-photo"></i>
          <span>добавить фото</span>
      <%= file_field_tag 'advertisement_photo[]', multiple: true%>
    </span>
    <span class="span help-block small" >
        Оптимально выглядят горизонтально ориентированые снимки
    </span>


      <!-- The fileupload-buttonbar contains buttons to add/delete files and start/cancel the upload -->
      <div class="form form-horizontal">
        <div class="col-sm-9">


          <!-- The global progress bar -->
          <div class="progress progress-success progress-striped active fade">
            <div class="bar zero-width" ></div>
          </div>
        </div>
      </div>
      <!-- The loading indicator is shown during image processing -->

      <div class="fileupload-loading"></div>

      <!-- The table listing the files available for upload/download -->
      <table class="table table-striped"><tbody class="files" data-toggle="modal-gallery" data-target="#modal-gallery"></tbody>

      </table>


</div>


<!-- The template to display files available for upload -->
<script id="template-upload" type="text/x-tmpl">
  {% for (var i=0, file; file=o.files[i]; i++) { %}
  <tr class="template-upload fade">
    <td class="preview"><span class="fade"></span></td>
    <td class="name"><span>{%=file.name%}</span></td>
    <td class="size"><span>{%=o.formatFileSize(file.size)%}</span></td>
    {% if (file.error) { %}
    <td class="error" colspan="2"><span class="label label-important">{%=locale.fileupload.error%}</span> {%=locale.fileupload.errors[file.error] || file.error%}</td>
    {% } else if (o.files.valid && !i) { %}
    <td>
    <div class="progress">
      <div class="progress-bar progress-bar-striped active zero-width"  role="progressbar" aria-valuenow="0" aria-valuemin="0" aria-valuemax="100" >
        <span class="sr-only">0%</span>
      </div>
    </div>
    </td>
    <td class="start">{% if (!o.options.autoUpload) { %}
      <button class="btn btn-primary">
        <i class="icon-upload icon-white"></i>
        <span>{%=locale.fileupload.start%}</span>
      </button>
      {% } %}</td>
    {% } else { %}
    <td colspan="2"></td>
    {% } %}
    <td class="cancel">{% if (!i) { %}
      <button class="btn btn-warning">
        <i class="icon-ban-circle icon-white"></i>
        <span>Отмена</span>
      </button>
      {% } %}</td>
  </tr>
  {% } %}
</script>
<!-- The template to display files available for download -->
<script id="template-download" type="text/x-tmpl">
  <input type="hidden" name="advertisement[photo_ids][]" value="">
  {% for (var i=0, file; file=o.files[i]; i++) { %}
    <tr class="template-download fade">
      {% if (file.error) { %}
        <td></td>
        <td class="name"><span>{%=file.name%}</span></td>
        <td class="size"><span>{%=o.formatFileSize(file.size)%}</span></td>
        <td class="error" colspan="2"><span class="label label-important">{%=locale.fileupload.error%}</span> {%=locale.fileupload.errors[file.error] || file.error%}</td>
        {% } else { %}
        <td class="preview">{% if (file.thumbnail_url) { %}
          <input type="hidden" name="advertisement[photo_ids][]" value="{%= file.id %}">
          <a href="{%=file.url%}" title="{%=file.name%}" rel="gallery" download="{%=file.name%}"><img src="{%=file.thumbnail_url%}"></a>
          {% } %}</td>
        <td class="name">
          <a href="{%=file.url%}" title="{%=file.name%}" rel="{%=file.thumbnail_url&&'gallery'%}" download="{%=file.name%}">{%=file.name%}</a>
        </td>
        <td class="size"><span>{%=o.formatFileSize(file.size)%}</span></td>
        <td colspan="2"></td>
        {% } %}
      <td class="delete">
        <button class="btn" data-type="{%=file.delete_type%}" data-url="{%=file.delete_url%}">
          <i class="fa fa-times"></i>
          <span>Убрать</span>
        </button>
      </td>
    </tr>
    {% } %}
</script>

<script type="text/javascript" charset="utf-8">
    $(function () {

        $('.fileupload').fileupload({
            url: Routes.photos_path(),
            autoUpload: true,
            dataType: 'json',
            disableImageResize: /Android(?!.*Chrome)|Opera/.test(window.navigator.userAgent),
            maxFileSize: 5000000,
            acceptFileTypes: /(\.|\/)(jpe?g|png)$/i,
            previewMaxWidth: 100,
            previewMaxHeight: 100,
            previewCrop: true,
            progress: function (e, data) {
                var progress = parseInt(data.loaded / data.total * 100, 10);
                data.context.find('.progress-bar').css('width',progress + '%').text(progress + '%').attr('aria-valuenow', progress);
            },
            start: function (e) {
                $('.fileupload').closest('form').find('button[type=submit]').attr('disabled', true)
            },
            stop: function (e) {
                $('.fileupload').closest('form').find('button[type=submit]').attr('disabled', false)
            }
        });




        <% if @adv.photos.present? %>
        $.ajax({
            url: Routes.photos_path({ids:[<%= (@adv.photos || @adv.photos.build).map(&:id).join(',') %>]}),
            dataType: 'json',
            context: $('.fileupload')[0]
        }).done(function (result) {
            $(this).fileupload('option', 'done')
                    .call(this, $.Event('done'), {result: result});
        });
        <% end %>




    });
</script>





