.price-color{
  color: #333333;
}
.no-padding {
  padding: 0px;
}
.text-input-sx{
  width: 40px;
}
.text-input-m{
  width: 70px;
}
.text-input-lm{
  width: 90px;
}
.text-input-lg{
  width: 110px;
}
.text-input-xl{
  width: 340px;
}
.bc-white {
  background-color: white;
}
.map{
  width: auto;
  height: 425px;
  margin-bottom: 15px;
}

.sm-map{
  width: auto;
  height: 200px;
  margin-bottom: 15px;
}

.location-title {
  font-size: 14px;
}
.zero-width {
  width:0%;
}

.width-define{
  width: 110px;
}

.search-result-header{
  margin: 0em;
  font-size: 1.8em;
}

.adv-item{
  margin-top: 2px;
  background-color: ivory;
  padding-top: 7px;
  padding-bottom: 7px;
}

.col-sm-6.popover-long-padding {
  padding-right: 25px;
}

.thumbnail {
  margin: 0!important;
}

.adv-params .glyphicon {
  display: none!important;
}


.popover.popover-medium {
  min-width: 150px;
  max-width: 350px;
  width: 250px;
}
.popover-medium .popover-title {
  display: none;
}
