.preview-url{
  width: 145px;
  height: 90px;
}
.price-color{
  color: #333333;
}
.no-padding {
  padding: 0px;
}
.text-input-sx{
  width: 40px;
}
.text-input-m{
  width: 70px;
}
.text-input-lg{
  width: 110px;
}
.text-input-xl{
  width: 340px;
}
.bc-white {
  background-color: white;
}
.map{
  width: auto;
  height: 400px;
}
.location-title {
  font-size: 14px;
}
.zero-width {
  width:0%;
}
.header-font{
  margin: 0em;
  font-size: 1.8em;
}
.search-photo-size{
  width: 600px;
  height: 400px;
}
.width-define{
  width: 110px;
}
.search-result-header{
  margin: 0em;
  font-size: 1.8em;
}
.adv-item{
  margin-top: 2px;
  background-color: ivory;
  padding-top: 7px;
  padding-bottom: 7px;
}
.adv-card{
  margin-top: 2px;
  background-color: ivory;
  padding-top: 7px;
  padding-bottom: 7px;
}

