.popover {
  max-width: 800px;
  width: auto;
}

.location-group {
  display: inline-block;
}

#reg-phones i.glyphicon{
  margin-right: 40px;
}

.row {
  margin-left: 0px;
  margin-right: 0px;
}

.adv_item{
  margin-top: 2px; background-color: ghostwhite; padding-top: 10px; padding-bottom: 10px;
}

.adv_item.adv_item_even {
  background-color: ivory;
}

.nav-font-color{
  font-color: #F0FFFF;
}

.top-buffer { margin-bottom:5px; }


.btn.SelectLocation {padding: 2px 6px;}

input[type="text"].w-2,
input[type="date"].w-2,
input[type="datetime"].w-2,
input[type="email"].w-2,
input[type="number"].w-2,
select.w-2{
  width: 40px;
}
input[type="text"].w-3,
input[type="date"].w-3,
input[type="datetime"].w-3,
input[type="email"].w-3,
input[type="number"].w-3,
select.w-3{
  width: 70px;
}






