.popover {
  max-width: 800px;
  min-width: 400px;
  width: auto;
}

.location-group {
  display: inline-block;
}

#reg-phones i.glyphicon {
  margin-right: 40px;
}


.adv_item{
  margin-top: 2px; background-color: ghostwhite; padding-top: 10px; padding-bottom: 10px;
}

.adv_item.adv_item_even {
  background-color: ivory;
}

.nav-font-color{
  font-color: #F0FFFF;
}

.top-buffer { margin-bottom:5px; }


.btn.SelectLocation {padding: 2px 6px;}

input[type="text"].w-2,
input[type="date"].w-2,
input[type="datetime"].w-2,
input[type="email"].w-2,
input[type="number"].w-2,
select.w-2{
  width: 40px;
}
input[type="text"].w-3,
input[type="date"].w-3,
input[type="datetime"].w-3,
input[type="email"].w-3,
input[type="number"].w-3,
select.w-3{
  width: 70px;
}


h1 {
  margin-top: 0px;
  font-size: 1.8em;
}

h2 {
  margin-top: 0px;
  font-size: 1.6em;
}



.preview-url {
  width: 145px;
  height: 90px;
  margin-left:15px;
}



.form-horizontal .location-group, .form-horizontal .form-group-location{
  margin: 0!important;
  display: inline-block!important;
}

.form-inline .form-group.location-group, .form-horizontal .form-group.location-group {
  position: inherit;
}

.ui-autocomplete {
  position: relative;
}

.navbar-nav {
  margin: 0;
}

.dropdown:hover .dropdown-menu {
  display: block;
}
.zero-left {
  margin-left: -15px;
}



.form-horizontal .has-feedback .form-control-feedback[data-fv-icon-for="advertisement[user_attributes][role]"],
{
  right: -35px;
}

.form-horizontal .has-feedback #reg-phones .form-control-feedback
{
  right: 50px;
}

.form-horizontal .has-feedback .form-control-feedback[data-fv-icon-for="location_validation"]
{
  right: -15px;
}
//strange behavior in user settings
.phone-input.form-control {
  width: 340px;
  margin-left: -15px;
}










