<p>Здравствуйте, <%= @resource.email %>!</p>

<p>Кто-то запросил ссылку для смены пароля на сайте www.multilisting.su. Если это Вы, то это можно сделать по ссылке ниже.</p>

<p><%= link_to 'Сменить мой пароль на новый', edit_password_url(@resource, reset_password_token: @token) %></p>

<p>Если Вы не отправляли запрос на смену пароля, пожалуйста, проигнорируйте это сообщение.</p>
<p>Ваш пароль не изменится до тех пор, пока вы не перейдете по ссылке выше.</p>
